<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuU1OiMwa_v-jMnCUD-by6UfCZnn45lpA</string>
	<key>GCM_SENDER_ID</key>
	<string>336206459639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freegigApp</string>
	<key>PROJECT_ID</key>
	<string>freegig-fac8e</string>
	<key>STORAGE_BUCKET</key>
	<string>freegig-fac8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336206459639:ios:540b229c84f1f04cff99f2</string>
</dict>
</plist>